.section-title {
  max-width: 300px;
  margin: 0;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.5px;
  order: -1;
}
@media (max-width: 425px) {
  .section-title {
    max-width: 180px;
    font-size: 32px;
    line-height: 40px;
  }
}
