.highway__galery {
  margin: 80px 0 160px;
  gap: 40px;
  position: relative;
  display: flex;
  width: 100%;
}
@media (max-width: 626px) {
  .highway__galery {
    width: calc(100% - 18px);
  }
}
@media (max-width: 425px) {
  .highway__galery {
    order: -1;
    margin: 40px 0 0;
  }
}
