.bicycles__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 1.09;
  letter-spacing: -0.5px;
  color: #151515;
  margin: 0;
}
@media (max-width: 1200px) {
  .bicycles__title {
    margin-left: 18px;
  }
}
@media (max-width: 768px) {
  .bicycles__title {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 48px;
  }
}
@media (max-width: 425px) {
  .bicycles__title {
    margin-left: 0;
    margin-bottom: 0;
  }
}