.footer__title {
  margin: 80px 0 50px;
  max-width: 229px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media (max-width: 600px) {
  .footer__title {
    max-width: 284px;
    margin: 60px 0 40px;
  }
}
