.bicycles__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
@media (max-width: 425px) {
  .bicycles__cards::after {
    content: '';
      display: block;
      width: 4px;
      height: 4px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background: repeat-x;
      background-color: #151515;
      margin-left: 130px;
      margin-top: 20px;
  }
}