.training__link {
  text-decoration: none;
  color: #151515;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
@media (max-width: 425px) {
  .training__link {
    font-size: 14px;
    line-height: 20px;
  }
}
