.intro__image {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: -1;
}
@media (max-width: 1088px) {
  .intro__image {
    height: calc(100% - 20px);
  }
}
@media (max-width: 768px) {
  .intro__image {
    margin-top: 40px;
    margin-right: 18px;
    position: static;
    align-self: flex-start;
    width: 400px;
  }
}
@media (max-width: 425px) {
  .intro__image {
    align-self: flex-end;
    width: 254px;
  }
}
