.merks__quote-author {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #151515;
}

@media (max-width: 768px) {
  .merks__quote-author {
    font-size: 14px;
    line-height: 1.57;
  }
}